@font-face { font-family: 'cocogoose'; src: local('/cocogoose.otf'), url('/cocogoose.otf') format('opentype'); }
@font-face { font-family: 'helvetica'; src: local('/helvetica.otf'), url('/helvetica.otf') format('opentype'); }
* { box-sizing: border-box; }
*:focus {
  outline: none;
  box-shadow: 0px 0px 2px #0066ff;
}
body { margin: 0; }
body.dark { background: #000A18; }
body.light { background:  #EFF3F8; }
input.light, #phoneLabel.light, #codeLabel.light, p.light { color: #000 }
input.dark, #phoneLabel.dark, #codeLabel.dark, p.dark { color: #FFF; }

section {
  position: absolute;
  height: 100vh;
  width: 100vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0px 20px;
}
section#phoneSection {
  align-items: flex-start;
}
section.active { display: flex; }
section.inactive { display: none; }
@media only screen and (max-width: 342px) {
  section { padding: 0px 8px; }
}

#captcha {
  width: 304px;
  display: flex;
  justify-content: center;
  margin: auto;
  margin-top: 20px;
}

input {
  width: 100%;
  min-width: 304px;
  border-radius: 25px;
  border: 1px;
  border-style: solid;
  padding: 10px 20px;
  line-height: 20px;
  font-size: 16px;
  border-color: #6039A9;
  background-color: rgba(96,57,169, 0.1);
  font-weight: 500;
  text-align: left;
  letter-spacing: 1px;
  margin-top: 10px
}
input#codeInput {
  text-align: center;
  text-indent: 0px;
  letter-spacing: 4px;
  position: relative;
}
input.valid { border-color: green!important; }
input.invalid { border-color: red!important; }

#phoneLabel, #codeLabel {
  letter-spacing: -.5px;
  font-family: cocogoose;
  text-transform: uppercase;
  font-size: 14px;
  padding-left: 20px;
  text-align: left;
}
div#codeLabel {
  text-align: center;
  padding-left: 0px;
}

p {
  margin-top: 10px;
  font-family: helvetica;
  line-height: 16px;
  font-size: 12px;
  text-align: center;
  opacity: 1;
}
